<html>
<head>
    <title>RAG</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Mono&display=swap" rel="stylesheet">
    <style>
        a {
            color: #114580;
            text-decoration: none;
        }
        a:visited {
            color: #purple;
        }
        a:hover {
            text-decoration: underline;
        }
        a:active {
            color: #ff0000;
        }
        h2 {
            font-family: 'Poppins'
        }
        p, li {
            font-family: 'Open Sans'
        }
    </style>
</head>
<body>
<div style="font-family: Arial, sans-serif; padding: 10px;">
    <h2>Original Query: {{ query }}</h>
    <h2>Coral Response (No Connectors):</h2>
    <p>{{ noConnect }}</p>
    <h2>Coral Response (Web Connectors):</h2>
    <p>{{ withConnect }}</p>
    <h2>Citations</h2>
    <ul>
        {% for key,val in citationsNonRag.items %}
            <a href={{val}}>
                <li>{{key}}</li>
            </a>
        {% endfor %}
    </ul>
    <hr>
    <p>Detected Langauge: {{ langauge }}</p>
    <h2>Coral Response (With Localized Response):</h2>
    <p>{{ rags }}</p>
        <h2>Citations</h2>
    <ul>
        {% for key,val in citationsRag.items %}
            <a href={{val}}>
                <li>{{key}}</li>
            </a>
        {% endfor %}
    </ul>
</div>
</body>
</html>
